* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

i {
  padding: .8rem;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: lightgreen;
    transition: .5s;
  }
}

.form-inline {
  .btn:hover {
     background-color: lightgreen;
     border: none;
     color: black;
     transition: .5s;
  }
}

.form-inline, .list-group-item{
  display:flex;
  width:70%;
  gap:1rem;
}

.list-group-item {
  justify-content:space-between;
  padding:1rem;
  
  .input-edit{
    display:none;
  }
}

// .icon{
//   background-color:lightgray;
//   border-radius:50%;
//   padding:.5rem;
//   margin:.5rem;
//   cursor:pointer;
// }


